<!--
SPDX-FileCopyrightText: 2021 City of Tampere

SPDX-License-Identifier: LGPL-2.1-or-later
-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="correction">
    <h1 th:text="#{title}"></h1>
    <div class="correction-content">
        <span th:utext="#{content}"></span>
    </div>

    <div class="correction-content">
        <span th:text="#{address.title}">OIKAISUVIRANOMAISEN OSOITE</span>
        <span th:utext="#{address.content}">Tampereen kaupunki, Sivistys ja kulttuurilautakunta, ...</span>
    </div>

    <div class="correction-content">
        <span th:text="#{time.title}">OIKAISUVAATIMUSAIKA</span>
        <span th:utext="#{time.content}">Oikaisuvaatimus on tehtävä 30 päivän kuluessa päätöksen tiedoksisaannosta.</span>
    </div>

    <div class="correction-content">
        <span th:text="#{notice.title}">TIEDOKSISAANTI</span>
        <span th:utext="#{notice.content}">Asianosaisen katsotaan saaneen päätöksestä tiedon, ...</span>
    </div>
</th:block>
</body>
</html>
