# SPDX-FileCopyrightText: 2023-2025 Tampere region
#
# SPDX-License-Identifier: LGPL-2.1-or-later

min_version = "2025.5.1"

[tools]
java = "temurin-21"
node = { version = "24", postinstall = "corepack enable" }
python = "3.14"
uv = "0.9"
"pipx:reuse" = "6.2.0" # NOTE: Update .circleci/config.yml to match
jq = "1"

[env]
NODE_OPTIONS = "--max-old-space-size=8192"

[vars]
municipality = "{% if mise_env %}{{ mise_env | first }}{% else %}tampere{% endif %}"

[tasks.start]
depends = ["trevaka-frontend", "trevaka-apigw", "trevaka-service"]

[tasks.trevaka-frontend]
dir = "evaka/frontend"
run = ["yarn", "yarn clean", "yarn dev"]
env.EVAKA_CUSTOMIZATIONS = "{{ vars.municipality }}"

[tasks.trevaka-apigw]
dir = "evaka/apigw"
run = ["yarn", "yarn clean", "yarn dev"]
env.EVAKA_TITANIA_USERNAME = "titania"
env.EVAKA_TITANIA_PASSWORD = "titania"
env.AD_SAML_EXTERNAL_ID_PREFIX = "tampere-ad"

[tasks.trevaka-service]
dir = "service"
run = "./gradlew bootRun"
run_windows = "gradlew.bat bootRun"
env.SPRING_PROFILES_INCLUDE = "local,trevaka-local"
env.SPRING_PROFILES_ACTIVE = "{{ vars.municipality }}_evaka"

[tasks.espoo]
depends = ["evaka-frontend", "evaka-apigw", "evaka-service"]

[tasks.evaka-frontend]
dir = "evaka/frontend"
run = ["yarn", "yarn clean", "yarn dev"]

[tasks.evaka-apigw]
dir = "evaka/apigw"
run = ["yarn", "yarn clean", "yarn dev"]

[tasks.evaka-service]
dir = "evaka/service"
run = "./gradlew bootRun{% if mise_env and 'e2e' in mise_env %}Test{% endif %}"
