# SPDX-FileCopyrightText: 2021 City of Tampere
#
# SPDX-License-Identifier: LGPL-2.1-or-later

# used with the trevaka-local profile, overlaying eVaka's local profile properties
# profile priority defined by "last wins" -strategy of spring.profiles.active declarations (build file/env var)
---
debug: true

spring:
  devtools:
    livereload:
      enabled: false
  main:
    logStartupInfo: false
logging:
  level:
    fi:
      espoo:
        evaka: DEBUG
        evaka.invoicing.integration.IntegrationClient: DEBUG
      tampere:
        trevaka: DEBUG
        trevaka.archival: TRACE
    org:
      springframework:
        boot:
          autoconfigure: INFO
    software:
      amazon:
        awssdk:
          request: DEBUG
evaka:
  database:
    url: jdbc:postgresql://localhost:5432/evaka_${trevaka.municipality}_local
  email:
    sender_address: evaka@localhost
    sender_name:
      fi: evaka_local_fi
      sv: evaka_local_sv
  integration:
    koski:
      enabled: false
    archival:
      enabled: true
  local_s3:
    url: "https://localhost:9876"

trevaka:
  vtj-kysely-api-key: vtj-kysely-api-key-123
  vtj-mutpa-api-key: vtj-mutpa-api-key-123

tampere:
  frends:
    username: frends-user
    password: frends-pass
  finance-api-key: finance-api-key-123
  invoice:
    url: http://localhost:${server.port}/dev-api/tampere/salesOrder
  payment:
    url: http://localhost:${server.port}/dev-api/tampere/payableAccounting
  bucket:
    export: trevaka-export-dev
  bi-export:
    prefix: bi
  archival:
    base-url: http://localhost:${server.port}/dev-api/tampere/archival

vesilahti:
  bucket:
    export: trevaka-export-dev
hameenkyro:
  bucket:
    export: trevaka-export-dev
ylojarvi:
  invoice:
    sftp:
      host: localhost
      port: 2222
      host_keys: AAAAC3NzaC1lZDI1NTE5AAAAICADdlntyAKbOUGQDkdzdhQBu12jZjb0KmxLyrklMXTq
      username: foo
      private-key: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
        QyNTUxOQAAACBKQkRdkXMfuHv/1PWMJ6Thchv2PeE+uEkUbbpf+ce/mQAAAJjUgHxz1IB8
        cwAAAAtzc2gtZWQyNTUxOQAAACBKQkRdkXMfuHv/1PWMJ6Thchv2PeE+uEkUbbpf+ce/mQ
        AAAEBOKiwR898c7d20IF4F4O6++awDPFfhoeDlH+t09hwEw0pCRF2Rcx+4e//U9YwnpOFy
        G/Y94T64SRRtul/5x7+ZAAAADmV2YWthX2xvY2FsL2l0AQIDBAUGBw==
        -----END OPENSSH PRIVATE KEY-----
      prefix: upload/
  bucket:
    export: trevaka-export-dev
pirkkala:
  bucket:
    export: trevaka-export-dev
nokia:
  invoice:
    sftp:
      host: localhost
      port: 2222
      host_keys: AAAAC3NzaC1lZDI1NTE5AAAAICADdlntyAKbOUGQDkdzdhQBu12jZjb0KmxLyrklMXTq
      username: foo
      private-key: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
        QyNTUxOQAAACBKQkRdkXMfuHv/1PWMJ6Thchv2PeE+uEkUbbpf+ce/mQAAAJjUgHxz1IB8
        cwAAAAtzc2gtZWQyNTUxOQAAACBKQkRdkXMfuHv/1PWMJ6Thchv2PeE+uEkUbbpf+ce/mQ
        AAAEBOKiwR898c7d20IF4F4O6++awDPFfhoeDlH+t09hwEw0pCRF2Rcx+4e//U9YwnpOFy
        G/Y94T64SRRtul/5x7+ZAAAADmV2YWthX2xvY2FsL2l0AQIDBAUGBw==
        -----END OPENSSH PRIVATE KEY-----
      prefix: upload/
  bucket:
    export: trevaka-export-dev
kangasala:
  bucket:
    export: trevaka-export-dev
lempaala:
  bucket:
    export: trevaka-export-dev
orivesi:
  bucket:
    export: trevaka-export-dev
