# SPDX-FileCopyrightText: 2021 City of Tampere
#
# SPDX-License-Identifier: LGPL-2.1-or-later

*
!gradle/
!src/
!.editorconfig
!build.gradle.kts
!entrypoint.sh
!gradle.properties
!gradlew
!settings.gradle.kts
!settings-dependabot-ignore.gradle.kts
