# SPDX-FileCopyrightText: 2021-2023 City of Tampere
#
# SPDX-License-Identifier: LGPL-2.1-or-later

root = true

[*.{kt,kts}]
ktlint_code_style = intellij_idea

[src/test/resources/invoice-client/*.dat]
charset = latin1
trim_trailing_whitespace = false
